extends layout

block content
  div(id='page')
    div(class='header')  
      h1 
        a(href='/') The Zine
    
    if articles
      each val in articles
        div(class='listing')  
          div(class='subheader' style='background-image: url('+ val.artUrl + "); background-size:cover; background-repeat:no-repeat;")
            h2(class='highlist')
              if val.backgroundImg
                a(href='/show/' + val._id style='color:white')= val.title
              if !val.backgroundImg
                a(href='/show/' + val._id style='color:black')= val.title

          div(class='exy')
            p= val.excerpt    
    br      
    a(href='/new' id='create') Create an Article
