extends layout

block content

  div(id='page')
    div(class='header')  
      h1 
        a(href='/')  The Zine
    div(class='error')
      if error
        p Please correct erros below
        each val in error
          ul
            li= val

    div(id='form')
      div(class='linebreak')
        h1(id='title') New Article
      div(id='form-container')
        form(action='/new' method='post')
          div.row
            div.label
              label Title
            div.input
              input(type='text' name='title')
          div.row
            div.label
              label Background Url
            div.input
              input(type='text' name='url')
          div.row
            div.label
              label  
            div.input
              div.checkers
                div.x
                  label Background Image Has Dark Colors
                div.y
                  input(type='checkbox'  name='img') 
          div.rowt
            div.label
              label Excerpt
            div.input
              textarea(name='excerpt')
          div.rowt
            div.label
              label Body
            div.input
              textarea(name='body')
          div.row
            div.label
            div.input
              input(type='submit' name='submit' class='submit' value='Add Article')

        
