extends layout

block content

  div(id='page')
    div(class='header')  
      h1 
        a(href='/') The Zine
    div(class='listing')  
      div(class='subheader' style='background-image: url('+ url + ");")
        if img
          h2(class='highlist' style='color:white') #{title}
          h2(class='edit' style='color:white') 
            a(href='/show/'+ id + '/update') Edit
        if !img
          h2(class='highlist' style='color:black') #{title}
          h2(class='edit' style='color:black') 
            a(href='/show/'+ id + '/update') Edit
      div(class='exy')
        p #{excerpt}
        p #{body}
